<p id="notice"><%= notice %></p>

<h1 class="title">Preguntas de visitantes</h1>

<% @visitor_questions.each do |visitor_question| %>
  <div class="box">
    <strong>Nombre:</strong> <%= visitor_question.visitor_name %> <br>
    <strong> Edad:</strong> <%= visitor_question.visitor_age %> <br>
    <strong>Locación:</strong> <%= visitor_question.visitor_location %> <br>
    <strong>Pregunta:</strong> <%= visitor_question.text %>
  </div>
  <br>
<% end %>

<br>

<div class="container is-fluid">
  <%= link_to 'Volver al inicio', :root, class: 'button is-primary' %>
</div>
